<div class="row banners">
  <div class="col l8 m8 s12">
    <div class="preview-main">
      <a href="{{filePictures.first.src}}">
        <img src="images/preview/{{filePictures.first.image}}" alt="">
      </a>
    </div>
  </div>
  <div class="col l4 m4">
    <div class="preview-minor">
      <a href="{{filePictures.second.src}}">
        <img src="images/preview/{{filePictures.second.image}}" alt="">
      </a>
    </div>
  </div>
  <div class="col l4 m4">
    <div class="preview-minor">
      <a href="{{filePictures.third.src}}">
        <img src="images/preview/{{filePictures.third.image}}" alt="">
      </a>
    </div>
  </div>
</div>