  <div class="bookshelf">
    <div class="row">
      {{#if booksBd}}
        {{#each booksBd}}
          <div class="col s6 m6 l4 xl3">
              <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                  <a href="/id{{ id }}">
                    <img class="activator" src="images/books/{{ this.id_book_preview }}">
                  </a>
                  <i id="icon-{{ id }}" class="material-icons icon-favorite" onclick="like({{ id }})" value="{{ id }}">favorite_border</i>
                </div>
                <a href="/id{{ id }}">
                  <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">
                      {{ this.name_book }}
                    </span>
                    <span class="card-writer activator grey-text text-darken-2">
                      {{ this.author_book }}
                    </span>
                    <span class="activator grey-text text-darken-1">
                      <span class="сard-price">{{ this.price }} руб</span>
                    </span>
                  </div>
                </a>
              </div>
          </div>
        {{/each}}
      {{else}}
        <h4 class="default">Книг нет</h4>
      {{/if}}
    </div>
  </div>
