  <div class="filter-bar">
    <h4 class="title">
      Настройка поиска
    </h4>
    <form action="#">
      <ul class="collapsible">
        <li>
          <div class="collapsible-header">
            Художественная литература
          </div>
          <div class="collapsible-body">
            <ul class="collection">
              {{#each genresArt}}
                <li class="collection-item">
                  <a href="?genres={{ this.id }}">
                    {{ this.genres }}
                  </a>
                </li>
              {{/each}}
              </ul>
          </div>
        </li>
        <li>
          <div class="collapsible-header">
            Не художественная литература
          </div>
          <div class="collapsible-body">
            <ul class="collection">
              {{#each genresNoArt}}
              <li class="collection-item">
                <a href="?genres={{ this.id }}">
                  {{ this.genres }}
                </a>
              </li>
            {{/each}}
            </ul>
          </div>
        </li>
        <li>
          <div class="collapsible-header">
            Издательство
          </div>
          <div class="collapsible-body">
            <ul class="collection">
              {{#each publisher}}
                <li class="collection-item">
                  <a href="?publisher={{ this.id }}">
                    {{ this.publisher }}
                  </a>
                </li>
              {{/each}}
            </ul>
          </div>
        </li>
      </ul>
    </form>
  </div>
