<div class="nav-menu">
    <nav>
      <div class="nav-wrapper grey darken-3">
        <a href="/" class="center brand-logo"><img class="logo" style="width: 64px;" src="images/logo.png">Полка кафки</a>
        <a ref="/" data-target="mobile-demo" class="sidenav-trigger">
          <i class="material-icons">menu</i>
        </a>
        <ul class="right hide-on-med-and-down">
        {{#if isAdmin}}
                  <li>
                    <a href="/admin">Главная</a>
                  </li>
                  <li>
                    <a href="/admin?books">Книги</a>
                  </li>
                  <li>
                    <a href="/admin?about">О нас</a>
                  </li>
                  {{#if req.user.admin}}
                    <li>
                      <a href="/admin?exit">Выйти из админ-панели</a>
                    </li>
                  {{/if}}
                </ul>
              </div>
            </nav>

            <ul id="mobile-demo" class="sidenav" @click="$emit('close-menu')">
              <li>
                <a href="/admin">Главная</a>
              </li>
              <li>
                <a href="/admin?books">Книги</a>
              </li>
              <li>
                <a href="/admin?about">О нас</a>
              </li>
            </ul>
          </div>
        {{else}}
                  <li>
                    <a href="/">Главная</a>
                  </li>
                  <li>
                    <a href="/books">Книги</a>
                  </li>
                  <li>
                    <a href="/about">О нас</a>
                  </li>
                  {{#if req.user}}
                    <li>
                      <a href="/{{ req.user.login }}">
                        {{#if req.user.images }}
                          <img src="/images/{{ req.user.login }}.jpg" alt="" width="20px">
                        {{else}}
                          <i class="large material-icons">account_circle</i>
                        {{/if}}
                      </a>
                    </li>
                    <li>
                      <a href="/{{ req.user.login }}&likes">
                        <i class="large material-icons">favorite_border</i>
                      </a>
                    </li>
                    <li>
                      <a href="/login/logout">Выйти</a>
                    </li>
                  {{else}}
                    <li>
                      <a href="/login">Войти</a>
                    </li>
                  {{/if}}
                  {{#if req.user.admin}}
                    <li>
                      <a href="/admin">Админ панель</a>
                    </li>
                  {{/if}}
                </ul>
              </div>
            </nav>

            <ul id="mobile-demo" class="sidenav" @click="$emit('close-menu')">
              <li>
                <a href="/">Главная</a>
              </li>
              <li>
                <a href="/books">Книги</a>
              </li>
              <li>
                <a href="/about">О нас</a>
              </li>
            </ul>
          </div>
        {{/if}}