{{> Head }}

{{> Header }}
<div class="container">
  <div>
    <div class="row">
      <div class="col s12 m4 l3 xl3">
        {{> FilterBooks }}
      </div>
      <div class="col s12 m8 l9 xl9">
        <h4 class="section-name">
          Все книги
        </h4>
        {{> Bookshelf }}
        
        <ul class="pagination">
          {{#with paginationMenu.chevronLeft}}
            {{#if active}}
              <li class="waves-effect">
                <a href="?pages={{page}}"><i class="material-icons">chevron_left</i></a>
              </li>
            {{else}}
              <li class="disabled">
                <a href=""><i class="material-icons">chevron_left</i></a>
              </li>
            {{/if}}
          {{/with}}

          {{#each paginationMenu.pagination}}
            {{#with this}}
              {{#if this.active}}
                <li class="active">
                  <a href="?pages={{this.page}}">{{this.page}}</a>
                </li>
              {{else}}
                <li class="waves-effect">
                  <a href="?pages={{this.page}}">{{this.page}}</a>
                </li>
              {{/if}}
            {{/with}}
          {{/each}}

          {{#with paginationMenu.chevronRight}}
            {{#if active}}
              <li class="waves-effect">
                <a href="?pages={{page}}"><i class="material-icons">chevron_right</i></a>
              </li>
            {{else}}
              <li class="disabled">
                <a href=""><i class="material-icons">chevron_right</i></a>
              </li>
            {{/if}}
          {{/with}}
        </ul>
      </div>
    </div>
  </div>
</div>
{{> Footer }}
