{{> Head }}

{{> Header }}
<div class="container">
    <div class="row">
      <div class="col s12 m4 l4 xl4">
        <div class="card">
            <div class="card-avatar" style="background-image: url('./images/users/{{req.user.id_image}}');">
            </div>
            <a class="waves-effect waves-light grey darken-3 btn btn-edit" href="/edit">Редактировать</a>
        </div>
      </div>
      <div class="col s12 m8 l8 xl8">
        <div class="grey lighten-5 card-inform">
          <div class="grey darken-3 section">
            {{#if req.user.first_name}}
              {{#if req.user.last_name}}
                <h4>{{req.user.first_name}} {{req.user.last_name}}</h4>
              {{else}}
                <h4>Имя Фамилия</h4>
              {{/if}}
            {{else}}
            <h4>Имя Фамилия</h4>
            {{/if}}
          </div>
          <div class="section">
            <div class="inform-section">
              <p > Телефон:
                <b>
                  {{#if req.user.phone}}
                    {{req.user.phone}}
                  {{else}}
                    Не указан
                  {{/if}}
                </b>
              </p>
              <p> Книг было выставленно:
                <b>
                  {{#if req.user.books}}
                    {{req.user.books.length}}
                  {{else}}
                    0
                  {{/if}}
                </b>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col s12">
        <div class="grey darken-3 books-section">
          <h4>Книги пользователя:</h4>
        </div>
        {{> Cards}}
      </div>
    </div>
    {{!-- {{ req.user.login }}
    <h1>Пользователь</h1> --}}
</div>
{{> Footer }}

